
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.page-container {
  /* intentionally left blank */
}

section {
  padding: 35px 50px 35px 50px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  /* medium */
  section {
    padding: 25px 40px 25px 40px;
  }
}

@media screen and (max-width: 425px) {
  /* small */
  section {
    padding: 5px 15px 5px 15px;
  }
}

.intro-block {
  background-color: #F1F2F3;
  color: #555;
}

.divider-bottom-block {
  border-bottom: 1px solid lightgray;
}

.highlight-title-bar {
  background-color: #ce2437;
  border-radius: 3px;
  color: white;
  padding: 5px 20px 5px 20px;
}

h1 {
  color: #0664BD;
  font-size: 48px;
  font-weight: bold;
  padding: 0;
  margin: 30px 0 30px 0;
  text-align: center;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  /* medium */
  h1 {
    font-size: 32px;
    margin: 20px 0 20px 0;
  }
}

@media screen and (max-width: 425px) {
  /* small */
  h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 15px 0 15px 0;
  }
}

h2 {
  color: #CE2437;
  font-size: 32px;
  font-weight: normal;
  padding: 0;
  margin: 20px 0 20px 0;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  /* medium */
  h2 {
    font-size: 24px;
    margin: 15px 0 10px 0;
  }
}

@media screen and (max-width: 425px) {
  /* small */
  h2 {
    font-size: 16px;
    margin: 10px 0 5px 0;
  }
}

h3 {
  color: #0664BD;
  margin: 10px 0 5px 0;
  text-transform: uppercase;
}

@media screen and (max-width: 425px) {
  /* small */
  h3 {
    font-size: 14px;
    margin: 5px 0 5px 0;
  }
}

p {
  font-size: 18px;
  line-height: 24px;
  margin: 10px 0 10px 0;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  /* medium */
  p {
    font-size: 16px;
    line-height: 18px;
    margin: 10px 0 10px 0;
  }
}

@media screen and (max-width: 425px) {
  /* small */
  p {
    font-size: 12px;
    line-height: 14px;
    margin: 5px 0 5px 0;
  }
}

.row-container:after {
  /* clearfix for floated child elements */
  clear: both;
  content: "";
  display: table;
}

.row-entry-2col {
  float: left;
  margin-right: 2%;
  width: 48%;
}

@media screen and (max-width: 425px) {
  .row-entry-2col {
    float: none;
    margin: 10px 0 10px 0;
    width: 100%;
  }
}

.row-entry-3col {
  float: left;
  margin-right: 2%;
  width: 31%;
}

@media screen and (max-width: 425px) {
  .row-entry-3col {
    float: none;
    margin: 10px 0 10px 0;
    width: 100%;
  }
}

.row-entry-4col {
  float: left;
  margin-right: 2%;
  width: 23%;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  /* medium */
  .row-entry-4col {
    float: left;
    margin-right: 2%;
    width: 48%;
  }
}

@media screen and (max-width: 425px) {
  .row-entry-4col {
    float: none;
    margin: 10px 0 10px 0;
    width: 100%;
  }
}
