
h1 {
  color: #555;
  font-size: 2.5em;
  padding: 5px;
}

@media screen and (max-width: 425px) {
  h1 {
    background-color: magenta;
    font-size: 1.75em;
    padding: 10px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  h1 {
    background-color: darkorange;
    font-size: 2.0em;
    padding: 15px;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    background-color: cornflowerblue;
    font-size: 3.25em;
    font-weight: bold;
    padding: 20px;
  }
}
