
h1 {
  color: #555;
  font-size: 2.5em;
}

@media screen and (max-width: 375px) {
  h1 {
    background-color: magenta;
    font-size: 1.75em;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    background-color: cornflowerblue;
    font-size: 3.25em;
    font-weight: bold;
  }
}
